/target/scala-2.13/classes/learn/sample/basic/isPrime/PrimeNumber.class
/target/scala-2.13/classes/learn/sample/basic/isPrime/PrimeNumCheckObject.class
/target/scala-2.13/classes/learn/sample/basic/isPrime/PrimeNumber$.class
/target/scala-2.13/classes/learn/sample/basic/isPrime/PrimeNumberCheck.class
/target/scala-2.13/classes/learn/sample/basic/isPrime/PrimeNumCheckObject$.class
/target/scala-2.13/classes/learn/sample/basic/fibonnaci/PrintFibonnaci$.class
/target/scala-2.13/classes/learn/sample/basic/fibonnaci/PrintFibonnaci.class
/.idea/codeStyles/Project.xml
/.idea/sbt.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_2_jar.xml
/.idea/scala_compiler.xml
/.idea/modules/scalaPracticeBasic.iml
/target/scala-2.13/classes/META-INF/scalaPracticeBasic.kotlin_module
/.idea/modules/scalaPracticeBasic-build.iml
/.idea/vcs.xml
/project/target/config-classes/$bc14b85b35419661f400$.class
/project/target/config-classes/$bc14b85b35419661f400.cache
/project/target/config-classes/$bc14b85b35419661f400.class
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
